* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.header-text {
  font-family: "Cinzel", serif;
  font-weight: 400;
}

.inner-scroll {
  overflow: auto;
}

.inner-scroll::-webkit-scrollbar {
  display: none;
}

.inner-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
